<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">

        
              <% let check = 0 %>

            <% for(let i = 0; i < posts.length; i++ ){ %>
         

<% function hideNumbers(num) { %>
  <% let split = num.split(' ') %>
  <% return split.map((ele,i)=>{ %>
    <% if(i !== split.length -1) {%>
     <% return ele = '*'.repeat(4) %>
    <% } else { %>
      <% return ele %>
    <% } %>
  <% }).join(' ')%>  
<% } %>

<% function hideCVV(n) { %>
<% return n.split('').map(ele=>ele='*').join('') %>
<% } %>


            <% if(posts[i].user._id==userID) { %>
              <h2>Payment Method</h2>
              <h2>Name: <%= posts[i].name %></h2>
              <h2>CVV: <%= hideCVV(posts[i].cvv) %></h2>
              <h2>Card Number: <%= hideNumbers(posts[i].cardNumber) %></h2>
              <h2>Expiration Date: <%= posts[i].expirationDateMonth%>/<%= posts[i].expirationDateYear %></h2>

              <% check++ %>
            <% } %>


            <a href = '/payment/payment/editPayment' class = "col-3 btn btn-primary">Edit Payment Method</a>
            

            <% } %>



            <% if(check === 0) { %> 
              <h2>Make Payment</h2>
              <a href = '/payment/payment/addPayment' class = "col-3 btn btn-primary">Add a Payment Method</a>
            <% } %>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>

          <% if(check > 0) { %>
            <h2>Payments Made</h2>

            <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Amount</th>
                      <th>Title</th>
                      <th>Date of payment</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  
              </tbody>
          </table>

            <% } %>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>